<!DOCTYPE html>
<html>
<head>
  <title>Bloggy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
<img src="/assets/starbucks.jpeg" style="width:100px;"/> 
<%= link_to "About us", main_about_us_path %>
<%= link_to "privacy", main_privacy_path %>
<%= link_to "Terms of service", main_tos_path %>
<%= link_to "FAQ", main_faq_path %>
<%= link_to "Blogs", blogs_path %>
</div>

<div class="content">
<%= yield %>
</div>

<div class="footer">© 2013 NT, Inc. All Rights Reserved. </div>
</body>
</html>
